a {
  color: var(--highlight-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  display: inline-block;
  padding: 10px 30px; /* Ajustez le rembourrage selon vos préférences */
  border-radius: 25px; /* Cette propriété détermine la courbure des coins, ajustez-la selon vos préférences */
  text-align: center;
  font-size: large;
  font-weight: bold;
  background-color: #f1c202; /* Couleur de fond du bouton, ajustez-la selon vos préférences */
  color: #000000; /* Couleur du texte, ajustez-la selon vos préférences */
  border-color: #f1c202;
  border-style: solid;
  transition: background-color 0.5s ease; /* Animation de transition pour un effet de survol, ajustez selon vos préférences */
}

button:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
}

button.categorie-filtre {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
  transition: background-color 0.5s ease; /* Animation de transition pour un effet de survol, ajustez selon vos préférences */
}

button.categorie-filtre:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #f1c202; /* Couleur de fond du bouton, ajustez-la selon vos préférences */
  color: #000000; /* Couleur du texte, ajustez-la selon vos préférences */
  border-color: #f1c202;
  border-style: solid;
}

button.categorie-filtre.active {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #f1c202; /* Couleur de fond du bouton, ajustez-la selon vos préférences */
  color: #000000; /* Couleur du texte, ajustez-la selon vos préférences */
  border-color: #f1c202;
  border-style: solid;
}

.summary-image {
  max-height: 160px; /* Ajustez la hauteur maximale selon vos besoins */
  width: auto;
}

.summary-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2.summary-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 200%;
  color: var(--heading-color);
  font-family: var(--font-family-heading);
}

.summary-description {
  font-size: 100%;
  color: var(--text-color);
  font-family: var(--font-family-paragraph);
  font-style: italic;
}

.summary-date {
  font-style: bold;
}

#liste-projets {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
  justify-items: center;
  gap: 20px; /* Espace entre les éléments */
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--heading-color);
  font-family: var(--font-family-heading);
}
p {
  color: var(--text-color);
  font-family: var(--font-family-paragraph);
  font-size: 18px;
  line-height: 24px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    list-style: none;
  }
}

.content {
  font-size: 18px;
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 40px;
    line-height: 1.6;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  h2 {
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    &:first-of-type {
      margin-top: 0;
    }
    @include breakpoint('small') {
      font-size: 30px;
      line-height: 1.4;
    }
  }
  h3 {
    font-size: 22px;
    line-height: 1.4;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  ul {
    list-style: disc;
    li {
      list-style: disc;
    }
  }
  ol {
    list-style: decimal;
    li {
      list-style: decimal;
    }
  }
  ul,
  ol {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    li {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 10px;
      margin-left: 0;
      @include breakpoint('small') {
        margin-left: 20px;
      }
    }
    @include breakpoint('small') {
      margin-left: 20px;
    }
  }
  a {
    text-decoration: underline;
    &:hover {
    }
  }
  blockquote {
    border-left: 5px solid var(--highlight-color);
    margin: 30px 0;
    padding: 20px;
  }
  blockquote p {
    font-size: 20px;
    display: inline;
    color: var(--color-base-text);
  }
  img {
    margin: 40px 0 40px 0;
    max-width: 100%;
    height: auto;
  }
  figure {
    margin: 2.6rem 0 1.18rem;
    img {
      margin: 0;
    }
    figcaption {
      margin-top: 10px;
      h4 {
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
      }
      p {
        margin: 0;
      }
    }
  }
  code,
  pre {
    font-family: var(--font-family-monospace);
  }
  .highlight {
    pre {
      border-radius: 3px;
      font-size: 14px;
      line-height: 18px;
      padding: 30px;
      overflow: auto;
      font-family: var(--font-family-monospace);
    }
  }
}

.dot {
  color: var(--dot-color);
}

.footnotes {
  ol {
    list-style: decimal;
    li {
      list-style: decimal;
    }
  }
}

.skills {
  list-style: none;
  display: flex;
}

.skills img {
  width: auto;
  height: 20px;
}


img.img-legende {
  margin-bottom: 0;
}

@keyframes rotation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.author img {
  animation: rotation 3s infinite linear;
}

.section-jaune {
  background-color: #f1c202;
  padding: 50px;
}

.section-jaune h2 {
  color: #000000;
  font-family: var(--font-family-heading);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.section-jaune p {
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
}

#competences img{
  margin : 0px;
}